.topcontainer {
  background-color: #F7ECDE;
  margin: 0 0 0 0;
}

h1 {
  margin: 50px auto 0 auto;
  font-size: 562.5%; /*16px=100%=1em(Dynamic sizing)*//* dynamic sizing adds on top of dynamic sizing of parent, rem makes sure that
  the parent sizing is not inherited unlike em/% which inherits */
  font-family: 'Sacramento', cursive;
  color: #54BAB9;
  line-height: 2;

}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  color: #54BAB9;
  font-weight: normal;

}

h3 {
  font-family: 'Montserrat', sans-serif;
  color: #54BAB9;

}

.bottomcloud {
  position: absolute;
  left: 350px;
}

.topcloud {
  position: absolute;
  right: 375px;
  bottom: 600px;
}

body {
  margin: 0 0 0 0;
  text-align: center;
  font-family: 'Merriweather', serif;

}

.topcontainer {
  padding-top: 150px;
}

.middlecontainer {
  height: 100px;
  width: 100px;
  background-color: red;
}

.bottom-container{
  margin-top: 90px;
  background-color: #54BAB9;
  color: white;
  line-height: 4;
  width: 100%;
  position: absolute;
  padding: 20px 0;

}

a{
  text-decoration: none;
}

.btn{
  color:  white;
}
.btn {
  background: #11cdd4;
  background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
  background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
  background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
  background-image: -o-linear-gradient(top, #11cdd4, #11999e);
  background-image: linear-gradient(to bottom, #11cdd4, #11999e);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  padding-top: 90px;
  border-radius: 30px;

  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb, #2bc48d);
  background-image: -moz-linear-gradient(top, #30e3cb, #2bc48d);
  background-image: -ms-linear-gradient(top, #30e3cb, #2bc48d);
  background-image: -o-linear-gradient(top, #30e3cb, #2bc48d);
  background-image: linear-gradient(to bottom, #30e3cb, #2bc48d);
  text-decoration: none;
}
.footer-link{
  color: #9ED2C6;
  margin: 0 60px;
}

.skill-row{
  width: 50%;
  margin: 100px auto;
  text-align: left;
  line-height: 2;

}
.profile{
  margin-top: 60px;
}

.skillimg1{
  width: 25%;
  float: left;
  margin-right: 30px;
}
.skillimg2{
  width: 25%;
  float: right;
  margin-left: 30px;
}
.Bio{
  line-height: 2;
}

hr{
  border-style: dotted none none none;
  border-width: 10px 0 0 0;
  border-color: #9ED2C6;
  width: 5%;
  margin: 80px auto;
}
