* {
  padding: 0;
  margin: 0;

}

:root {
  --sizing-1000: 10rem;
  --sizing-800: 8rem;
  --sizing-600: 6rem;
  --sizing-500: 5rem;
  --sizing-400: 4rem;
  --sizing-300: 3rem;
  --sizing-200: 2rem;
  --sizing-150: 1.5rem;
  --sizing-100: 1rem;
  --clr-600: #005E43;
  --clr-500: #4CB3C8;
  --clr-400: #3AC7C7;
  --clr-300: #81E8A1;
  --clr-200: #BAF386;
  --clr-100: #F9F871;
  --clr-000: white;
}

a {
  text-decoration: none;
  color: var(--clr-100);
}

body {
  background-color: var(--clr-500);
 overflow-x: hidden;
}

ul{
  list-style: none;
}

header .container {
  border-style: solid;
  border-color: var(--clr-200);
  background-image: linear-gradient(to top right, var(--clr-300), var(--clr-500));
  display: grid;
  justify-content: center;
  text-align: center;
  padding: var(--sizing-500) var(--sizing-800);
  gap: var(--sizing-300);
}

header h1 {
  border-style: solid;
  border-color: var(--clr-200);
  color: var(--clr-100);
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  font-size: var(--sizing-1000);
  max-width: 5ch;
  padding: var(--sizing-100);
}

h2 {
  max-width: 28ch;
  font-size: var(--sizing-200);
  color: var(--clr-000);
  margin-left: auto;
  margin-right: auto;
}

 p {
  border-style: solid;
  border-color: var(--clr-200);
  color: var(--clr-600);
  margin-left: auto;
  margin-right: auto;
  padding: var(--sizing-300);
  line-height: 2;
  max-width: 30ch;
  font-size: var(--sizing-150);
}

header p{
  max-width: 17ch;
}

.link-github {
  display: flex;
  align-items: center;
  font-size: var(--sizing-150);
}

.link-github svg {
  width: 10%;
  color: var(--clr-100);
}

@media (min-width: 50em) {
  header .container {
    margin: var(--sizing-100) var(--sizing-800);
  }
}

nav {
  padding: var(--sizing-800) var(--sizing-800);
}

nav ul {
  display: flex;
  justify-content: space-between;
  list-style: none;
  font-size: var(--sizing-150);
  border-style: solid;
  border-color: var(--clr-200);
  padding: var(--sizing-300);
}
nav li{
  transition: 400ms ease-in-out;
}
nav li:hover{
  transform: translate(0, -30%);

  transition: 200ms ease-in-out;
}




@media(max-width: 975px) {
  nav ul {
    display: grid;
    text-align: center;
    justify-content: center;
    gap: var(--sizing-100);
  }
}

#about{
  display: grid;

  justify-content: center;
  overflow: hidden;

  gap: var(--sizing-300);
}

#about .container {
  border-style: solid;
  border-color: var(--clr-200);
  background-image: linear-gradient(to bottom right, var(--clr-300), var(--clr-500));

  display: grid;
  justify-content: center;
  text-align: center;

  padding: var(--sizing-500) var(--sizing-800);
  gap: var(--sizing-300);

}

@media (min-width: 50em) {
  #about .container {
    margin: var(--sizing-100) var(--sizing-800);
  }
}

#about p {
  border-style: solid;
  border-color: var(--clr-200);
  color: var(--clr-600);

  margin-left: auto;
  margin-right: auto;

  padding: var(--sizing-200);
  line-height: 2;
  max-width: 40ch;
  font-size: var(--sizing-150);
}

#about h2 {
  font-size: var(--sizing-500);
  text-align: center;
}

#about .container ul {
  display: grid;
  grid-template-columns: 1fr;
    gap: var(--sizing-300);
}

@media(min-width: 50em) {
  #about .container ul {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

  }
}

#about .container li {

  list-style: none;

  border-style: none;
  border-radius: 50%;


  background-color: var(--clr-400);
  color: var(--clr-000);

  padding: var(--sizing-400);

  font-family: sans-serif;
  text-transform: capitalize;
  letter-spacing: 1.5px;
  font-size: var(--sizing-100);
  font-weight: bolder;
}
#guidelines .container{
 display: grid;

 gap: var(--sizing-300);
 min-width: 50ch;

 justify-content: center;
 text-align: center;

 background-image: linear-gradient(to top, var(--clr-300), var(--clr-500));
 padding: var(--sizing-100) var(--sizing-150);
 margin: 3rem 0;

 gap: var(--sizing-300);
 z-index: -3;
}






@media(min-width: 50em){
  #guidelines .container{

    padding: var(--sizing-500) var(--sizing-800);
  }

  #guidelines .container::after{
    content: '';
    border-radius: 50% 100%;
    display: block;
    position: absolute;
    width:70%;
    height: 100%;
   background-color: var(--clr-300);
   transform: translate(-27%, 165%) rotate(-20deg);
   z-index: -2;
  }
  #guidelines .container::before{
    content: '';
    border-radius: 90% 20%;
    display: block;
    position: absolute;
    width:55%;
    height: 100%;
   background-color: var(--clr-500);
   transform: translate(71%, 210%) rotate(20deg);
   z-index: 0;

  }
}

#guidelines p{
  max-width: 60ch;
}

#guidelines h3{
  text-align: left;
}

#contribute{
  display: grid;
  justify-content: center;




  gap: var(--sizing-300);
}

#contribute .container{
  display: grid;
  justify-content: center;

  border-style: solid;
  border-color: var(--clr-100);
  background-image: linear-gradient(to top left, var(--clr-300), var(--clr-500));
  color: var(--clr-600);

  padding: var(--sizing-500) var(--sizing-800);
  gap: var(--sizing-300);
  margin: 3rem 0;
  z-index: 33;
}

@media(min-width:50em){
  #contribute .container{
    margin: var(--sizing-100) var(--sizing-800);
    font-size: var(--sizing-150);

  }
  }

#contribute .container h3{
  font-size: var(--sizing-200);
  color: var(--clr-000);
}
#contribute ol{
  line-height: 2;
}

#files .container{
  display: grid;
  justify-content: center;

  background-image: linear-gradient(to bottom, var(--clr-300), var(--clr-500));

  border-style: none;
  padding: var(--sizing-500) var(--sizing-800);
  font-size: var(--sizing-150);
  gap: var(--sizing-300);
  margin: 3rem 0;

}

@media(min-width:50em){
  #files .container::after{
    content: '';
    border-radius: 100% 50%;
    display: block;
    position: absolute;
    width:90%;
    height: 100%;
   background-color: var(--clr-300);
   transform: translate(13%, -70%) rotate(10deg);
  z-index: -2;


  }


  #files .container::before{
    content: '';
    border-radius: 90% 50%;
    display: block;
    position: absolute;
    width:55%;
    height: 100%;
   background-color: var(--clr-500);
   transform: translate(-30%, -100%);
   z-index: 0;

  }
}

.profile .container{
  display: grid;
  justify-content: center;
  text-align: center;

  border-style: solid;
  border-color: var(--clr-100);
  background-image: linear-gradient(to top right, var(--clr-300), var(--clr-500));

  padding: var(--sizing-500) var(--sizing-800);
  gap: var(--sizing-300);
  margin: 3rem 0;
  }

  .profile ul{
    line-height: 2;
    color: var(--clr-200);
    font-size: var(--sizing-150);

  }

  .profile h4{
    font-size: var(--sizing-200);
    color: var(--clr-000);
  }

  @media(min-width: 50em){
    .profile .container{
      margin: var(--sizing-100) var(--sizing-800);
    }
  }

  #styles .container{
    display: grid;





    padding: var(--sizing-300) var(--sizing-800);
    gap: var(--sizing-300);
    margin: 5rem 0;
    font-size: var(--sizing-150);
  }

  @media(min-width:50em){
    #styles .container{

    }
  }


  .features{
    text-align: center;
    display: grid;
    justify-content: center;
    gap: var(--sizing-300);
  }

  @media(min-width: 50em){
    .features{
      grid-template-columns: repeat(3, 1fr);
    }
  }

  .features li > span{
    border-style: solid;
    border-color: white;
    display: grid;
    gap: var(--sizing-100);
    padding: var(--sizing-600) var(--sizing-300) var(--sizing-300);
  }

.page-footer .container{
  display: grid;
  gap: var(--sizing-300);
  text-align: center;

  background-image: linear-gradient(to top, var(--clr-300), var(--clr-500));


  padding: var(--sizing-300);
}

@media(min-width:50em){
  .page-footer .container{

  }
  }

  .page-footer ul{
    display: grid;
    text-align: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    gap: 1.5rem;

    border-style: solid;
    border-color: var(--clr-100);
    max-width: 30ch;
    font-size: var(--sizing-150);
    font-family: sans-serif;
    letter-spacing: 1.5px;
    font-weight: bold;

    padding: var(--sizing-300) var(--sizing-600);
  }

  .page-footer svg{
    width: 5%;
    margin-left: auto;
    margin-right: auto;

  }

  .page-footer a{
    margin-left: auto;
    margin-right: auto;
  }
